.body {
  padding: 14px;
  padding-bottom: 55px;
  font-family: "Segoe UI", "Roboto", Geneva, Verdana, sans-serif;
  font-size: 22px;
  line-height: 1.2;
}
input {
  width: 45px;
  font-size: 17px;
  margin-right: 5px;
  margin-left: 2px;
  border: none;
  background-color: rgb(253, 249, 245);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
input:focus {
  outline: none;
  border: none;
  background-color: rgb(255, 243, 232);
  box-shadow: 2px 2px #337f94, -2px 2px #337f94, -2px -2px #337f94,
    2px -2px #337f94;
}
.input_neutral {
  box-shadow: 0px 1px #337f94;
}
.input_true {
  background-color: rgb(230, 252, 201);
  box-shadow: 2px 2px rgb(186, 243, 95), -2px 2px rgb(186, 243, 95),
    -2px -2px rgb(186, 243, 95), 2px -2px rgb(186, 243, 95);
}
.input_false {
  border-radius: 3px;
  /* color: bla; */
  background-color: rgb(252, 215, 215);
  box-shadow: 2px 2px rgb(243, 95, 95), -2px 2px rgb(243, 95, 95),
    -2px -2px rgb(243, 95, 95), 2px -2px rgb(243, 95, 95);
}

.bottom {
  position: fixed;
  width: 100%;
  bottom: 30px;
  left: 0px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-around;
}
#check_btn {
  color: rgb(11, 31, 6);
  bottom: 30px;
  border: none;
  border-radius: 20px;
  background-color: #73c3d9;
  font-size: 18px;
  padding: 13px;
  box-shadow: 1px 1px #337f94, 2px 2px #337f94, 3px 3px #337f94;
  transition: all 0.1s ease-in-out;
}
#check_btn:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: none;
  transition: all 0.1s ease-in-out;
}

#time {
  font-size: 25px;
  font-weight: 400;
  width: 100px;
  background-color: #e235b7;
  color: white;
  border-radius: 23px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pause_go {
  width: 85px;
  color: rgb(11, 31, 6);
  bottom: 30px;
  border: none;
  border-radius: 20px;
  background-color: #d99373;
  font-size: 18px;
  padding: 13px;
  box-shadow: 1px 1px #a54d24, 2px 2px #a54d24, 3px 3px #a54d24;
  transition: all 0.1s ease-in-out;
}
#pause_go:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: none;
  transition: all 0.1s ease-in-out;
}
